<%- include('header', {title: 'Login Page'}); -%>

<div class="login-container">
  <form action="/login" method="POST">
    <div class="row">
      <div class="col-10"><h2>Login</h2></div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" class="form-control"></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control"></label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <div><button type="submit">Submit</button></div>
      </div>
    </div>
    <br />
    <div>
      <a href="/signup">New? Register here</a>
    </div>
  </form>
</div>

<%- include('footer'); -%>
